@model SimpleChat.chatModel.ViewReplies
@{
    ViewBag.Title = "ReplySave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container mt-5">
        
        <ul>
            <h5 class="font-weight-bold text-info">SEND REPLY</h5>

            @foreach (var ques in Model.Questions)
            {
                <div class="jumbotron">
                    <span class="text-info h5"><u>Question</u></span>
                    <h3>@ques.QuestionText? </h3>
                </div>
            }
        </ul>




        <ul>
            @if (!Model.Reply.Any())
            {
                <li class="btn btn-info btn-block btn-lg">No replies yet! <br /> Be the first</li>
            }
            @foreach (var reply in Model.Reply)
            {
                <li class="btn btn-default rounded mt-2 btn-outline-primary">
                    <span class="float-right bg-info p-1 rounded text-light">@reply.User.FullName</span> <br /> <hr />
                    @reply.RepliesText <br />
                    <span style="font-size: 11px;" class="text-info float-right">@reply.ReplyDate</span>
                </li>
                <br />
            }
        </ul>

        <br />

        <div>
            @foreach (var qId in Model.Questions)
            {
                using (Html.BeginForm("ReplySave", "Replies", new { id = qId.Id }))
                {
                    <div class="form-group">
                        @Html.LabelFor(m => m.Replies.RepliesText)
                        @Html.TextBoxFor(m => m.Replies.RepliesText, new { @class = "form-control" })
                    </div>

                    <button type="submit" class="rounded w-50 text btn btn-info">Send Reply</button>
                }
            }

            <br />

            @Html.ActionLink("Return to Questions", "AllQuestions", "Questions", null, new { @class = "btn rounded btn-outline-info w-20" })
        </div>
    </div>



